    body {
    display: flex;
    justify-content: center;
    text-align: center;
    }

    .fila {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto; /* Con auto ponemos la cantidad de columnas que queremos que haya*/
        width: fit-content;
        margin: 0 auto;
    }

    .casilla {
        margin: 2px;
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .casilla img {
        width: 70px;
        height: 70px;
        padding: 15px;
    }

    .marron {
        background: #b58863;
    }

    .blanca {
        background: #eeeed2;
    }

    .boton-volver { /*requisito act boton abajo drcha*/
        position: fixed;
        top: 850px; /*boton abajp*/
        left: 1300px; /*boton derecha*/
        display: inline-flex;      
        align-items: center;       
        justify-content: center;
        height: 40px;              
        padding: 0 20px;           
        border-radius: 20px;     
        background-color: #1e293b;
        color: white;
    }

    .boton-volver a {
    color: white;
    text-decoration: none; 
    }